<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务</title>
		<link rel="stylesheet" href="../../common/css/common.css" />
		<link rel="stylesheet" href="servic.css" />
	</head>
	<body class="clearfix">
		<!-----------头部分------------->
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px,注意设定更高的层级-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="servic.html" class="underline">服务</a>
					<a href="../case/case.html" class="underline-xx">案例</a>
					<a href="../aboutus/aboutus.html" class="underline-xx">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>

		
		<div class="servic-top-main">	
			<div class=" servic-top clearfix">
				<div class="top-tittle clearfix">
					<a href="">我们的服务</a>
					<span>Services</span>
					<i></i>
				</div>
				<ul class=" servic-top-services">
					<li class=" services-single clearfix">
						<img src="../../img/servic-services-pc.jpg" alt="" />
						<span>用户体验设计</span>
						<i>User Experience Design</i>
						<p>帮助客户了解用户需求，以用户为中心，在
此前提下进行相应的设计。</p>
					</li>
					<li class=" services-single clearfix">
						<img src="../../img/servic-services-user.jpg" alt="" />
						<span>用户体验设计</span>
						<i>User Experience Design</i>
						<p>帮助客户了解用户需求，以用户为中心，在
此前提下进行相应的设计。</p>
					</li>
					<li class=" services-single clearfix">
						<img src="../../img/servic-services-technical.jpg" alt="" />
						<span>用户体验设计</span>
						<i>User Experience Design</i>
						<p>帮助客户了解用户需求，以用户为中心，在
此前提下进行相应的设计。</p>
					</li>
					<div class="services-block"></div>
					<li class=" services-single clearfix">
						<img src="../../img/servic-services-digitel.jpg" alt="" />
						<span>用户体验设计</span>
						<i>User Experience Design</i>
						<p>帮助客户了解用户需求，以用户为中心，在
此前提下进行相应的设计。</p>
					</li>
					<li class=" services-single clearfix">
						<img src="../../img/servic-services-brand.jpg" alt="" />
						<span>用户体验设计</span>
						<i>User Experience Design</i>
						<p>帮助客户了解用户需求，以用户为中心，在
此前提下进行相应的设计。</p>
					</li>
					
				</ul>
			</div>
		</div>
		
		<div class="servic-center-main clearfix">	
			<div class=" servic-top servic-center clearfix">
				<div class="top-tittle clearfix">
					<a href="">我们的服务</a>
					<span>Services</span>
					<i></i>
				</div>
				<div class="servic-center-imges">
					<a href="##" class="center-paly">
						<div  class="center-paly-tittle">互动娱乐</div>
						<div  style="display: block;" class="center-paly-content clearfix">
							<div class="play-content-top clearfix">
								<span>互动娱乐</span>
								<i>为20余家一线生活服务平台
提供用户体验设计服务</i>
							</div>
							<em></em>
						</div>
					</a>
					<a href="##" class="center-paly center-trade" >
						<div class="center-paly-tittle">电商</div>
						<div class="center-paly-content clearfix">
							<div class="play-content-top clearfix">
								<span>电商</span>
								<i>为20余家一线生活服务平台
提供用户体验设计服务</i>
							</div>
							<em></em>
						</div>
					</a>
					<a href="##" class="center-paly center-bank">
						<div  class="center-paly-tittle">金融</div>
						<div class="center-paly-content clearfix">
							<div class="play-content-top clearfix">
								<span>金融</span>
								<i>为20余家一线生活服务平台
提供用户体验设计服务</i>
							</div>
							<em></em>
						</div>
					</a>
					<a href="##" class="center-paly center-other">
						<div class="center-paly-tittle">航旅、在线教育、生活服务</div>
						<div class="center-paly-content clearfix">
							<div class="play-content-top clearfix">
								<span>航旅、在线教育、生活服务</span>
								<i>为20余家一线生活服务平台
提供用户体验设计服务</i>
							</div>
							<em></em>
						</div>
					</a>
				</div>
			</div>		
		</div>
		<div class="servic-lower-main clearfix">	
			<div class=" servic-top servic-lower clearfix">
				<div class="top-tittle clearfix">
					<a href="">我们的服务</a>
					<span>Services</span>
					<i></i>
				</div>
			</div>
			<div class="servic-lower-name">
				<div class="name-all">
					<img src="../../img/servic-bottom01.jpg" alt="" />
					<img src="../../img/servic-bottom02.jpg" alt="" />
					<img src="../../img/servic-bottom03.jpg" alt="" />
					<img src="../../img/servic-bottom04.jpg" alt="" />
					<img src="../../img/servic-bottom05.jpg" alt="" />
					<img src="../../img/servic-bottom06.jpg" alt="" />
					<img src="../../img/servic-bottom07.jpg" alt="" />
					<img src="../../img/servic-bottom08.jpg" alt="" />
					<img src="../../img/servic-bottom09.jpg" alt="" />
					<img src="../../img/servic-bottom10.jpg" alt="" />
					<img src="../../img/servic-bottom11.jpg" alt="" />
					<img src="../../img/servic-bottom12.jpg" alt="" />
					<img src="../../img/servic-bottom13.jpg" alt="" />
					<img src="../../img/servic-bottom14.jpg" alt="" />
					<img src="../../img/servic-bottom15.jpg" alt="" />
					<img src="../../img/servic-bottom16.jpg" alt="" />
					<img src="../../img/servic-bottom17.jpg" alt="" />
					<img src="../../img/servic-bottom18.jpg" alt="" />
					<img src="../../img/servic-bottom19.jpg" alt="" />
					<img src="../../img/servic-bottom20.jpg" alt="" />
					<img src="../../img/servic-bottom21.jpg" alt="" />
					<img src="../../img/servic-bottom22.jpg" alt="" />
					<img src="../../img/servic-bottom23.jpg" alt="" />
					<img src="../../img/servic-bottom24.jpg" alt="" />
					<img src="../../img/servic-bottom25.jpg" alt="" />
					<img src="../../img/servic-bottom26.jpg" alt="" />
					<img src="../../img/servic-bottom27.jpg" alt="" />
					<img src="../../img/servic-bottom28.jpg" alt="" />
					<img src="../../img/servic-bottom29.jpg" alt="" />
					<img src="../../img/servic-bottom30.jpg" alt="" />
					<img src="../../img/servic-bottom31.jpg" alt="" />
					<img src="../../img/servic-bottom32.jpg" alt="" />
					<img src="../../img/servic-bottom33.jpg" alt="" />
					<img src="../../img/servic-bottom34.jpg" alt="" />
					<img src="../../img/servic-bottom35.jpg" alt="" />
					<img src="../../img/servic-bottom36.jpg" alt="" />
					<img src="../../img/servic-bottom37.jpg" alt="" />
					<img src="../../img/servic-bottom38.jpg" alt="" />
					<img src="../../img/servic-bottom39.jpg" alt="" />
					<img src="../../img/servic-bottom40.jpg" alt="" />
					
				</div>
			</div>
		</div>	
		
<!------------侧边栏--------------->
		<div class="sidebar clearfix">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
<!------------底部--------------->
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	
	<script type="text/javascript" src="../../common/css/common.js" ></script>
		<script type="text/javascript" src="servic.js">
		 
		</script>
	</body>
</html>
