<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案例详情22</title>
		<link rel="stylesheet" href="../casedetail22/casedetail22.css" />
		<link rel="stylesheet" href="../../common/css/common.css" />
	</head>
	<body class="aboutus-bg">
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="../servic/servic.html" class="underline-xx">服务</a>
					<a href="../case/case.html" class="underline">案例</a>
					<a href="../aboutus/aboutus.html" class="underline-xx">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		
		<div class="casedetail22-lovemaster clearfix">
			<div class="lovemaster-left">
				<img src="../../img/lovemaster.jpg" class="lovemaster-img" />
				<img src="../../img/lovemaster-enlarge.jpg" class="lovemaster-enlarge" />
			</div>
			<div class="lovemaster-right">
				<div class="right-arrow"></div>
				<div class="right-arrow2"></div>
				<h3 class="right-title">阿里巴巴</h3>
				<p class="right-detail">Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。</p>
				<p class="right-time">25&nbsp;AUGUST,2014</p>
				<p class="right-admin">用户体验中心</p>
				<a href="##" class="right-caserelated">相关案例</a>
				<div class="right-caselink clearfix">
					<a href="##" class="right-caseleft">
						<img src="../../img/lovemaster-case1.jpg" />
						<span class="case-text">中粮我买网</span>
					</a>
					<a href="##" class="right-caseright">
						<img src="../../img/lovemaster-case2.jpg" />
						<span class="case-text">中粮我买网</span>
					</a>
				</div>
				<a href="##" class="lovemaster-linkcase"><img src="../../img/lovemaster-link.jpg" /></a>
			</div>
		</div>
		<div class="lovemaster-btnclick" style="display: none;">
			<img src="../../img/lovemaster-original.jpg" class="btnclick-img" />
			<img src=" ../../img/lovemaster-close.png" class="btnclose-img" />
		</div>
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
		<script>
		    var lovemasterNode=document.querySelector(".casedetail22-lovemaster");
			var lovemaster=document.querySelector(".casedetail22-lovemaster .lovemaster-enlarge");
			var clicklovemasterNode=document.querySelector(".lovemaster-btnclick");
			var clickClose=document.querySelector(".lovemaster-btnclick .btnclose-img");
			lovemaster.onclick=function(){
				clicklovemasterNode.style.display="block";
				lovemasterNode.style.display="none";
			}
			clickClose.onclick=function(){
				clicklovemasterNode.style.display="none";
				lovemasterNode.style.display="block";
			}
		</script>
	</body>
</html>
