<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../common/css/common.css" />
		<link rel="stylesheet" href="../dream/dream.css" />
		<link rel="stylesheet" href="team.css" />
		<title>团队</title>
	</head>
	<body>
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="##">首页</a><!--下划线，自己添加网页名-->
					<a href="servic.html" class="##">服务</a>
					<a href="../case/case.html" class="##">案例</a>
					<a href="../aboutus/aboutus.html" class="underline">我们</a>
					<a href="../trends/trends.html" class="##">动态</a>
					<a href="##" class="##">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		
		<div class="dream">
			<img src="../../img/team-topimg.jpg"/>
			<div class="dream-menu">
				<a href="../aboutus/aboutus.html">关于</a>
				<a><span>|</span></a>
				<a href="../dream/dream.html">愿景</a>
				<a><span>|</span></a>
				<a href="team.html"><i class="current">团队</i></a>
				<a><span>|</span></a>
				<a href="../creativecollege/creativecollege.html">创意学院</a>
				<a><span>|</span></a>
				<a href="../ourjoin/ourjoin.html">加入</a>
			</div>
			<div class="team-size">
				<img src="../../img/team-boss.jpg" class="boss-img"/>
				<div class="boss-content clearfix">
					<h3>冯峰_</h3>
					<h4>二马</h4>
					<h5>董事长</h5>
					<p class="boss-ptop">浙江省创意设计协会互联网与新媒体产业发展委理事长、杭州市成长型企业品牌促进会会长。</p>
					<p>2005年创办全速网络，领导公司成为阿里巴巴、京东、腾讯、招商银行等大型企业的用户体验设计战略合作伙伴。经过10年努力，将全速网络打造成为拥有西安、长沙、台州、上海四家分公司，超300名设计师，专注于电商、互动娱乐、金融、航旅、生活服务等领域创意设计服务的领军企业！</p>
				</div>
			</div>
			<div class="team-creator team-size">
				<img src="../../img/team-creator.jpg" class="creator-img"/>
				<div class="boss-content clearfix">
					<h3>范建杭_</h3>
					<h4>晋旭</h4>
					<h5>联合创始人</h5>
					<p class="boss-ptop">毕业于浙江工业大学计算机专业，2004 年就职于国内知名互联网企业，一年内荣获企业 Top Sales，随后晋升销售总监；2005 年联合创办全速网络，负责市场营销，先后达成与阿里巴巴 B2B、天猫、淘宝、支付宝、聚划算、蚂蚁金服、网易、蘑菇街等国内知名互联网企业的深度合作，带领公司多次荣获优秀合作伙伴称号；现任全速网络总经理。</p>
				</div>
			</div>
			<div class="team-box clearfix">
				<div class="manager-changsha">
					<img src="../../img/team-manager-changsha.jpg" class="manager-changsha-img"/>
					<div class="manager-content clearfix">
						<h3>熊志群_</h3>
						<h4>OkXiong</h4>
						<h5>长沙分公司总经理</h5>
						<p class="manager-ptop">带领团队服务于腾讯，阿里巴巴，畅游，网易，陌陌等大型互联网企业，为其提供专业的视觉设计、用户体验设计、技术等服务。帮助客户提升视觉技术方面的解决方案是我们团队现在最重要的工作。</p>
					</div>
				</div>
				<div class="manager-changsha manager-right clearfix">
					<img src="../../img/team-manager-xian.jpg" class="manager-changsha-img"/>
					<div class="manager-content clearfix">
						<h3>魏志刚_</h3>
						<h4>刚刚好</h4>
						<h5>西安分公司总经理</h5>
						<p class="manager-ptop">毕业于西安美术学院，设计作品被 68design，zcool等国内知名设计网站收录和推荐。2010 年受 68design 邀请成为陕西省第一位 68 专访设计师。服务于京东、支付宝、口碑、招商银行、上海银行等。带领团队连续多年获得京东优秀供应商奖。参与京东6.18、春雷行动。天猫双 11、支付宝应用中心、招商银行信用卡中心品牌推广设计等项目，并深受客户青睐。</p>
					</div>
				</div>
			</div>
			<div class="team-person">
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person1.jpg"/></dt>
						<dd class="person-name">谢神</dd>
						<dd class="person-position">创意总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person2.jpg"/></dt>
						<dd class="person-name">朱哥</dd>
						<dd class="person-position">技术总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person3.jpg"/></dt>
						<dd class="person-name">玄明</dd>
						<dd class="person-position">用户体验设计中心总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person4.jpg"/></dt>
						<dd class="person-name">夏风</dd>
						<dd class="person-position">台州分公司经理</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person5.jpg"/></dt>
						<dd class="person-name">馨子</dd>
						<dd class="person-position">高级设计专家</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person6.jpg"/></dt>
						<dd class="person-name">依娜</dd>
						<dd class="person-position">高级设计专家</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person7.jpg"/></dt>
						<dd class="person-name">豆霜</dd>
						<dd class="person-position">交互设计专家</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person8.jpg"/></dt>
						<dd class="person-name">婆纳</dd>
						<dd class="person-position">交互设计专家</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person9.jpg"/></dt>
						<dd class="person-name">樱几</dd>
						<dd class="person-position">长沙分公司互娱设计总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person10.jpg"/></dt>
						<dd class="person-name">Black</dd>
						<dd class="person-position">长沙分公司设计总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl>
						<dt><img src="../../img/team-person11.jpg"/></dt>
						<dd class="person-name">大师兄</dd>
						<dd class="person-position">长沙分公司设计总监</dd>
					</dl>
				</div>
				<div class="team-boxsize">
					<dl class="person-banner">
						<dt class="person-banner1">期待你的加入</dt>
						<dd class="person-banner2">expect you to join us</dd>
					</dl>
				</div>
			</div>
		</div>
		
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
