<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../common/css/common.css" />
		<link rel="stylesheet" href="dream.css" />
		<title>愿景</title>
	</head>
	<body>
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="../servic/servic.html" class="underline-xx">服务</a>
					<a href="../case/case.html" class="underline-xx">案例</a>
					<a href="../aboutus-creativecollege/aboutus.html" class="underline">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		
		<div class="dream">
			<img src="../../img/dream-topimg.jpg" class="dream-topimg"/>
			<div class="dream-menu">
				<a href="../aboutus/aboutus.html">关于</a>
				<a><span>|</span></a>
				<a href="dream.html"><i class="current">愿景</i></a>
				<a><span>|</span></a>
				<a href="../team/team.html">团队</a>
				<a><span>|</span></a>
				<a href="../creativecollege/creativecollege.html">创意学院</a>
				<a><span>|</span></a>
				<a href="../ourjoin/ourjoin.html">加入</a>
			</div>
			<div class="dream-content">
				<p>今天的中国，商品经济时代成为过去，服务经济时代已经到来。</p>
				<p>互联网时代，品牌红利正在消失，取而代之是体验经济，粉丝经济。消费者对商品和服务的体验，从商品本身的外观、技术和核心功能的极致，上升到从最初获得产品或服务信息开始，直到购买、使用并享受售后服务的整个过程的极致感受。技术同质化时代，“产品与客户共鸣”、“制造让客户难忘的体验”成为了新时代先发企业的制胜法宝，而创意和用户体验必将是未来竞争的主要战场。</p>
				<p>而我们，恰恰正身处在时代交替的巨大变革之中。对于企业而言，在服务经济时代迫切需要进行客户体验升级，这种客户体验升级是基于卓越设计的产品之上，包括企业与客户接触沟通的每一个触点触面上。而对于设计服务从业者来讲，这既是前所未有的机会，也是对于原有的技能、方法和知识储备的巨大挑战。</p>
				<p>全速自2005年创业以来，已经为电商、互动娱乐、金融、航旅、生活服务等行业超过200家客户在品牌数字战略、用户体验咨询、产品交互、运营推广方面提供了更简洁的设计、更友好的用户界面、更方便的使用场景、更敏捷的技术开发。我们参与策划设计了像“天猫双十一、淘宝双十二”这样互联网领域顶级的运营活动，也为象“招商银行掌上生活”这样千万用户级的APP产品提供了从策略到执行到日常设计维护全流程的用户体验设计服务，并获得了很好的口碑。</p>
				<p>未来我们将继续秉承“全心付出，全速服务”的经营理念，努力通过创意设计与技术的结合为客户创造更高的商业价值。</p>
			</div>
		</div>
		
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
	</body>
</html>
