<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="ourjoin.css" />
		<link rel="stylesheet" href="../../common/css/common.css" />
		<title>我们-加入</title>
	</head>
	<body class="ourjoin-bg">
		<!-----------头部分------------->
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="servic.html" class="##">服务</a>
					<a href="../case/case.html" class="underline-xx">案例</a>
					<a href="../aboutus/aboutus.html" class="underline">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		<!------------侧边栏--------------->
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		<!-----------主体部分------------->
		<div class="ourjoin">
			<img src="../../img/ourjoin-head.jpg " class="ourjoin-headimg"/>
			<div class="ourjoin-menu">
				<a href="../aboutus/aboutus.html">关于</a>
				<a><span>|</span></a>
				<a href="../dream/dream.html">愿景</a>
				<a><span>|</span></a>
				<a href="../team/team.html">团队</a>
				<a><span>|</span></a>
				<a href="../creativecollege/creativecollege.html">创意学院</a>
				<a><span>|</span></a>
				<a href="ourjoin.html"><i class="current">加入</i></a>
			</div>
		

			<ul class="ourjoin-title clearfix">
				<li>
					<h3><a href="##">交互设计师</a></h3>
					<h4>Visual Designer</h4>
					<div class="ourjoin-title-head">
						<p>10</p>
						<span>+</span>
					</div>
				</li>
				<li id="ourjoin-title-blank"></li>
				<li>
					<h3><a href="##">视觉设计师</a></h3>
					<h4>Visual Designer</h4>
					<div class="ourjoin-title-head">
						<p>02</p>
						<span>+</span>
					</div>
				</li>
				<li>
					<h3><a href="##">平面设计师</a></h3>
					<h4>Graphic Designer</h4>
					<div class="ourjoin-title-head">
						<p>03</p>
						<span>+</span>
					</div>
				</li>
				<li id="ourjoin-title-blank02">
					<h3><a href="##">高级视觉设计师</a></h3>
					<h4>Senior Visual Designer</h4>
					<div class="ourjoin-title-head">
						<p>04</p>
						<span>+</span>
					</div>
				</li>
			</ul>
		
			<div class="ourjoin-main">
				<div class="ourjoin-main01">
					<div class="ourjoin-main01-head clearfix">
						<p>01</p>
						<span>+</span>
						<h3>创意策划</h3>
						<h4>Creative Producer</h4>
						<h5><a href="##"><</a><a href="##">></a></h5>
					</div>
					<div class="ourjoin-main01-main">
						<h4>工作地点：<span>杭州、台州、长沙</span></h4>
						<h4>工作职责：</h4>
						<ul class="ourjoin-main01-list">
							<li><p>1. 参与产品用户研究（如网站、邮箱产品、移动产品等）。挖掘和分析用户的使用习惯、情感及体验感受，并提炼成产品设计需求，为产品运营和设计创新提供指引；参与公司前瞻性产品的规划；</p></li>
							<li><p>2. 产品可用性测试。能够根据产品需求制定用户研究计划，独立完成测试工作并输出报告，给出产品改进建议；</p></li>
							<li><p>3. 完成日常产品用户体验监测。协同建立产品用户体验考核指标，跟踪和监督公司产品用户满意度提升，不断改进产品设计质量；</p></li>
							<li><p>4. 推广已有的用户研究方法，创新用户研究方法，对公司内部人员进行可用性知识宣讲。</p></li>
						</ul>
						<h4>任职要求：</h4>
						<ul class="ourjoin-main01-list clearfix">
							<li><p>1、 1年以上相关工作经验，参与或主导过相关研究项目实践；</p></li>
							<li><p>2、人机交互、心理学、计算机或相关专业本科以上学历；</p></li>
							<li><p>3、 熟悉一般研究步骤，了解各种研究方法，有坚实的统计和数据分析基础；</p></li>
							<li><p>4、能针对不同项目有效权衡和分配时间，权衡研究投入和收益比率，在规定时间内完成研究；</p></li>
							<li><p>5、较强的沟通能力，能与其他不同职能的团队协作；</p></li>
							<li><p>6、 对互联网行业热情，对业内消息敏感 对市场研究有一定了解；</p></li>
							<li><p>7、良好的英文文章阅读能力，能阅读专业论文。</p></li>
						</ul>
					</div>
				</div>
				<div class="ourjoin-main-blank">
					<img src="../../img/ourjoin-blank.jpg" />
					<h3>投递简历时请附上您的设计作品</h3>
					<ul class="clearfix">           
						<li>杭州简历投递：<a href="##">hr@fullspeed.cn</a></li>
						<li id="ourjoin-main-letter">台州简历投递：<a href="##">jingjing.huang@fullspeed.cn</a></li>
						<li>西安简历投递：<a href="##">jie.zong@digi-media.cn</a></li>
						<li>长沙简历投递：<a href="##">ting.xiao@fullspeed.cn</a></li>
					</ul>
					<div class="ourjoin-button"><a href="../ourposition/ourposition.html"><p>MORE</p></a></div>
				</div>
			</div>		
		</div>
		<!------------底部--------------->
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
