<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案例2</title>
		<link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
		<link href="case2.css" rel="stylesheet"/>
	</head>
	<body>
		<!-----------头部分------------->
		<script src="../../js/header.js"></script>
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="##">首页</a><!--下划线，自己添加网页名-->
					<a href="../servic/servic.html" class="##">服务</a>
					<a href="../case/case.html" class="underline">案例</a>
					<a href="../aboutus/aboutus.html" class="##">我们</a>
					<a href="../trends/trends.html" class="##">动态</a>
					<a href="##" class="##">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		
		<!------------案例下的导航部分--------------->
		<div class="case">
			<ul class="case-nav clearfix">
				<li class="case-nav-design">
					<a class="design-img" href="../case/case.html"><img src="../../img/common-design.png"/></a>
					<h3>PC／移动端视觉设计</h3>
					<h5>PC/Mobile Visual Design</h5>
					<div class="design-content">
						<a href="../case/case.html">活动页专题设计</a>
						<a href="##">Banner广告设计</a>
						<a href="##">HTML5专题页设计</a>
						<a href="##">互动游戏策划设计</a>
						<a href="##">App交互/UI设计</a>
					</div>
				</li>
				<li class="case-nav-design">
					<a class="design-img" href="case2.html"><img src="../../img/common-user.png"/></a>
					<h3>用户体验设计</h3>
					<h5>User Experience Design</h5>
					<div class="design-content">
						<a href="../caseslid/caseslid.html">用户体验咨询</a>
						<a href="##">交互/UI设计</a>
						<a href="##">视觉设计</a>
						<a href="case2.html">服务设计</a>
					</div>
				</li>
				<li class="case-nav-design">
					<a class="design-img" href="##"><img src="../../img/common-service.png"/></a>
					<h3>技术服务</h3>
					<h5>Technical Service</h5>
					<div class="design-content">
						<a href="##">网页前端开发</a>
						<a href="##">互动游戏开发</a>
						<a href="##">App定制开发</a>
						<a href="##">网站后台开发</a>
					</div>
				</li>
				<li class="case-nav-design">
					<a class="design-img" href="##"><img src="../../img/common-marketing.png"/></a>
					<h3>数字营销</h3>
					<h5>Digital Marketing</h5>
					<div class="design-content">
						<a href="##">官方媒体运营</a>
						<a href="##">事件活动策划</a>
						<a href="##">020运营策划</a>
						<a href="##">媒介投放计划</a>
					</div>
				</li>
				<li class="case-nav-design">
					<a class="design-img" href="##"><img src="../../img/common-brand.png"/></a>
					<h3>品牌设计</h3>
					<h5>Brand Design</h5>
					<div class="design-content">
						<a href="##">品牌数字战略</a>
						<a href="##">品牌官网设计</a>
						<a href="##">电商平台规划</a>
						<a href="##">品牌VI/CI</a>
					</div>
				</li>
			</div>
		</div>
		
		
		<div class="case2-container">
			<h1 class="container-title">服务设计</h1>
			<div class="title-borderTop"></div>
			<div class="case2-main">
				<a href="../casedetail/casedetail.html"><img src="../../img/case2-main1.jpg" width="1280" height="540" /></a>
				<dl class="main-tit1 clearFix">
					<dt>2014年度浙江省“电子商务百强”</dt>
					<dd>25 AUGUST,2014&nbsp;&nbsp;用户体验中心</dd>
				</dl>
				<p class="main-container">Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛.</p>
			</div>
			
			<div class="case2-main">
				<a href="#"><img src="../../img/case2-main2.jpg" width="1280" height="540" /></a>
				<dl class="main-tit1 clearFix">
					<dt>2014年度浙江省“电子商务百强”</dt>
					<dd>25 AUGUST,2014&nbsp;&nbsp;用户体验中心</dd>
				</dl>
				<p class="main-container">Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛.</p>
			</div>
			
			<div class="case2-main">
				<a href="#"><img src="../../img/case2-main3.jpg" width="1280" height="540" /></a>
				<dl class="main-tit1 clearFix">
					<dt>2014年度浙江省“电子商务百强”</dt>
					<dd>25 AUGUST,2014&nbsp;&nbsp;用户体验中心</dd>
				</dl>
				<p class="main-container">Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛.</p>
			</div>
		</div>
		
		<!------------底部--------------->
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
