<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案例详情</title>
		<link href="../../common/css/common.css" rel="stylesheet" />
		<link href="casedetail.css" rel="stylesheet" />
	</head>
	<body>
		<!-----------头部分------------->
		<div id="top"></div>
		<div class="header clearfix"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="../servic/servic.html" class="underline-xx">服务</a>
					<a href="../case/case.html" class="underline">案例</a>
					<a href="../aboutus/aboutus.html" class="underline-xx">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		
		
		<div class="casedetail-container clearfix">
			<div class="container-left">
				<i class="left-jiantou"></i>
				<div class="left-main1">
					<img src="../../img/casedetail-main1.jpg" width="900" height="420"/>
					<div class="left-content">
						<p>Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好      必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一</p>
					</div>
				</div>
				<div class="left-main1">
					<img src="../../img/casedetail-main2.jpg" width="900" height="420"/>
					<div class="left-content">
						<p>Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一
							场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，
							这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，
							而这天早晨你又正好      必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当
							设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这
							天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下Dan告诉我们，在日后的开发中，他们会引入
							声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很
							早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可
							以在其正面的反投射屏幕上看到。想像一</p>
					</div>
				</div>
				<div class="left-main1">
					<img src="../../img/casedetail-main3.jpg" width="900" height="420"/>
					<div class="left-content">
						<p>Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加
							一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，
							这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，
							而这天早晨你又正好      必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当
							设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这
							天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下Dan告诉我们，在日后的开发中，他们会引入
							声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很
							早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可
							以在其正面的反投射屏幕上看到。想像一</p>
						<p>而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现
							你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你
							又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下Dan告诉我们，在日后的开发中，他们会引入声纹辨识
							的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。
							在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正
							面的反投射屏幕上看到。想像一</p>
					</div>
				</div>
			</div>
			<div class="container-right">
				<h2 class="right-tit">阿里巴巴</h2>
				<p class="right-p">Dan告诉我们，在日后的开发中，他们会引入声纹辨识的功能，这将会大大丰富设备的可玩性。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。在Rokid的帮助下，你可以通过其上方的镜头录下一段鼓励的话语或视频，这样当设备发现你的孩子起床的时候，就可以在其正面的反投射屏幕上看到。想像一下，某天你的孩子将参加一场重要的球赛，而这天早晨你又正好必须很早出门。</p>
				<h3>25 AUGUST,2014</h3>
				<h3>用户体验中心</h3>
				<h1 class="right-case">相关案例</h1>
				<div class="clearFix right-link1">
					<a href="#" class="right-link">
						<img src="../../img/rightlink1.jpg">
						<span class="link-tit">中粮我买网</span>
					</a>
					<a href="#" class="right-link">
						<img src="../../img/rightlink2.jpg">
						<span class="link-tit">中粮我买网</span>
					</a>
				</div>
				<a href="../case2/case2.html" class="right-return">返回</a>
			</div>
		</div>
		
		<!------------底部--------------->
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
