<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>我们-加入-岗位</title>
		<link rel="stylesheet" href="ourposition.css" />
		<link rel="stylesheet" href="../../common/css/common.css" />
	</head>
	
	<body>
		<!-----------头部分------------->
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="servic.html" class="##">服务</a>
					<a href="../case/case.html" class="underline-xx">案例</a>
					<a href="../aboutus/aboutus.html" class="underline">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		<!------------侧边栏--------------->
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		<!-----------主体部分------------->
		<div class="ourposition-back">
			<div class="ourposition-head">
				<h3>我们带来的不仅是丰厚的薪酬、健全的福利，更能提供一个实现梦想的平台。我们在召唤这样的你：</h3>
				<p>【没有一双<span>勤勉能干</span>的手，不要！】&nbsp;&nbsp;&nbsp;【没有一把<span>犀利快意</span>的刀，不要！】</p>
				<p>【没有一张<span>能言善辩</span>的口，不要！】&nbsp;&nbsp;&nbsp;【没有一双<span>兼听八方</span>的耳，不要！】</p>
			</div>
			<!--创意策划-->
			<ul class="ourposition-main clearfix">
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition01.jpg" />
						<h3 class="ourposition-main-color01">创意策划</h3>
						<p class="ourposition-main-p1">Creative Producer</p>
					</div>
					<h4>工作地点：<span>杭州</span></h4>
					<h4>基本要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>互联网原著居民，真正的懂互联网营销，真的会玩互联网营销；爱玩，好玩，会玩，带着客户一起玩；</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list clearfix">
						<li><p>1、从事互联网营销或者新媒体营销工作经验，对行业市场动态敏感度高（尤其是互联网中最新的玩法和动态）；</p></li>
						<li><p>2、具备热点话题策划能力，深谙新媒体传播规律，网感强；能把互联网数据分析的条条是道；能够及时总结新媒体推广运营经验，并适时调整。</p></li>
						<li><p>3、了解销售渠道推广，懂互联网策略打法；</p></li>
						<li><p>4、能够独立撰写前中后期营销策划方案、互联网传播方案；</p></li>
						<li><p>5、乐观开朗善于沟通，团队协作能力强；</p></li>
						<li><p>6、积极跟进项目，坚持提案执行至项目结束；</p></li>
						<li><p>7、有在专业营销策划公司或广告公司工作经历者优先；</p></li>
					</ul>
				</li>
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition02.jpg" />
						<h3 class="ourposition-main-color02">视觉设计</h3>
						<p class="ourposition-main-p1">Visual Designer</p>
					</div>
					<h4>工作地点：<span>杭州</span></h4>
					<h4>基本要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>负责推广/活动/专题页面的视觉设计工作；</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、1年以上视觉设计工作经验，美术院校或网页设计相关专业毕业；</p></li>
						<li><p>2、精通Photoshop、Illustrator、CorelDRAW、Dreamweaver等图形设计与网页编辑软件；熟悉HTML、CSS等网页制作技术；</p></li>
						<li><p>3、擅长创意、策划，具备较强的美术功底和审美能力；</p></li>
						<li><p>4、工作主动勤奋，能承受一定的工作压力；</p></li>
						<li><p>5、良好思维和理解能力，善于交流和沟通，富有责任感和团队精神；</p></li>
						<li><p>6、有UI界面设计经验或手绘、FLASH能力强者优先；</p></li>
					</ul>
				</li>
			</ul>
			
			<!--平面设计师-->
			<ul class="ourposition-main clearfix">
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition03.jpg" />
						<h3 class="ourposition-main-color03">平面设计师</h3>
						<p class="ourposition-main-p1">Graphic Designer</p>
					</div>
					<h4>工作地点：<span>杭州，西安，台州，长沙</span></h4>
					<h4>基本要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>从事海报、画册、杂志等印刷品的设计工作。</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list clearfix">
						<li><p>1、专业美术院校相关专业大专以上学历。</p></li>
						<li><p>2、良好美术功底和非凡创意，设计思想成熟，精通photoshop、coreldraw、Illustrator等电脑设计软件。</p></li>
						<li><p>3、热爱设计，拥有宽广的行业视野与时尚的审美标准。</p></li>
						<li><p>4、有较好的专业知识广度，沟通能力强，服务意识好，能与客户进行良好的沟通并准确把握客户的设计要求和期望的效果。</p></li>
						<li><p>5、为人诚信、勤奋，有责任感和团队合作精神，有吃苦精神，承受压力能力强。</p></li>
						<li><p>6、具有相关的平面设计工作经验者优先。</p></li>
					</ul>
				</li>
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition04.jpg" />
						<h3 class="ourposition-main-color04">高级视觉设计师</h3>
						<p class="ourposition-main-p1">Senior Visual Designer</p>
					</div>
					<h4>工作地点：<span>杭州，台州，长沙</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、负责产品的网站设计和运营维护的设计工作；</p></li>
						<li><p>2、准确理解产品需求和交互原型，设计出优质用户体验的界面效果图；</p></li>
						<li><p>3、设计新产品时，根据需求进行系统分析，设计符合用户的视觉形象，并制定视觉规范；</p></li>
						<li><p>4、关注所负责产品的设计动向，为产品提供专业的美术意见及建议。</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、热爱行业，对IT动态敏感，对UI设计趋势有灵敏触觉和领悟能力。</p></li>
						<li><p>2、关注用户体验设计，并对网站的易用性有一定研究；</p></li>
						<li><p>3、良好的创意思维和理解能力，有美术功底；</p></li>
						<li><p>4、能熟练使用Photoshop、Flash、Illustrator、CorelDraw等流行设计软件；</p></li>
						<li><p>5、相关专业学历；两年以上设计工作经验；（能力优秀可放宽）</p></li>
						<li><p>6、具备良好合作态度及团队精神，并富有工作激情、创造力和责任感；</p></li>
					</ul>
				</li>
			</ul>
			
			<!--插画师-->
			<ul class="ourposition-main clearfix">
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition05.jpg" />
						<h3 class="ourposition-main-color05">设计助理（实习）</h3>
						<p class="ourposition-main-p1">Design Assistant(trainee)</p>
					</div>
					<h4>工作地点：<span>杭州</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、负责页面设计中的手绘、插画工作；</p></li>
						<li><p>2、参与页面风格的设计创意；</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list clearfix">
						<li><p>1、具有良好的绘画功底，有整体视觉规划能力，有较强的形象艺术理解领悟能力。</p></li>
						<li><p>2、熟悉插画绘制流程，熟练运用Photoshop、Illustrator、Painter等软件。</p></li>
						<li><p>3、创意能力强，有网页设计方面成功案例者优先。</p></li>
						<li><p>4、有良好的团队意识及服务理念。</p></li>
					</ul>
				</li>
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition06.jpg" />
						<h3 class="ourposition-main-color06">视觉设计</h3>
						<p class="ourposition-main-p1">Visual Designer</p>
					</div>
					<h4>工作地点：<span>西安</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、辅助设计师完成正常页面需求设计、基础设计、制作排版、文字处理、图片处理及banner设计。</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、应届毕业生或临近毕业生</p></li>
						<li><p>2、善于交流和沟通，富有责任感和团队精神</p></li>
						<li><p>3、有色彩、平面构成基础。并有一定的排版经验和设计、美术手绘能力。能够熟练使用photoshop软件。</p></li>
					</ul>
				</li>
			</ul>
			
			<!--交互设计师-->
			<ul class="ourposition-main clearfix">
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition07.jpg" />
						<h3 class="ourposition-main-color07">交互设计师</h3>
						<p class="ourposition-main-p1">Interaction Designer</p>
					</div>
					<h4>工作地点：<span>杭州</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、负责公司产品的交互设计工作；</p></li>
						<li><p>2、结合可用性测试结果，完成界面交互行为和功能的改良，提高产品的易用性；</p></li>
						<li><p>3、根据需求和用户研究的结果，完成界面的信息架构、流程设计和原型设计；</p></li>
						<li><p>4、较强的沟通能力，能与其他产品经理，不同职能的团队协作；</p></li>
						<li><p>5、对现有产品的可用性测试和评估，提出改进方案，持续优化产品的用户体验；</p></li>
						<li><p>6、负责维护和更新界面设计标准和规范；负责标准和规范的实施；</p></li>
						<li><p>7、参与界面设计流程的完善和优化工作；</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list clearfix">
						<li><p>1、有3年以上的客户端、网页行业交互设计工作经验，并有成功案例；</p></li>
						<li><p>2、熟悉多类基于互联网的产品，并能有所见解；</p></li>
						<li><p>3、工业设计、计算机、心理学、平面设计、广告设计等相关专业，本科以上学历；</p></li>
						<li><p>4、熟练运用交互设计方法，对用户体验方面的理论有较深的了解和认识；</p></li>
						<li><p>5、良好的跨团队协作能力，与各部门人员密切合作；</p></li>
						<li><p>6、对交互设计在产品设计前、中、后期的职责有深刻的理解与实际应用经验；逻辑分析能力强，善于分解任务，沟通和协调；</p></li>
					</ul>
				</li>
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition08.jpg" />
						<h3 class="ourposition-main-color08">产品经理</h3>
						<p class="ourposition-main-p1">Product Manager</p>
					</div>
					<h4>工作地点：<span>杭州，台州，长沙</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1. 参与产品用户研究（如网站、邮箱产品、移动产品等）。挖掘和分析用户的使用习惯、情感及体验感受，并提炼成产品设计需求，为产品运营和设计创新提供指引；参与公司前瞻性产品的规划；</p></li>
						<li><p>2. 产品可用性测试。能够根据产品需求制定用户研究计划，独立完成测试工作并输出报告，给出产品改进建议；</p></li>
						<li><p>3. 完成日常产品用户体验监测。协同建立产品用户体验考核指标，跟踪和监督公司产品用户满意度提升，不断改进产品设计质量；</p></li>
						<li><p>4. 推广已有的用户研究方法，创新用户研究方法，对公司内部人员进行可用性知识宣讲。</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、 1年以上相关工作经验，参与或主导过相关研究项目实践；</p></li>
						<li><p>2、人机交互、心理学、计算机或相关专业本科以上学历；</p></li>
						<li><p>3、 熟悉一般研究步骤，了解各种研究方法，有坚实的统计和数据分析基础；</p></li>
						<li><p>4、能针对不同项目有效权衡和分配时间，权衡研究投入和收益比率，在规定时间内完成研究；</p></li>
						<li><p>5、较强的沟通能力，能与其他不同职能的团队协作；</p></li>
						<li><p>6、 对互联网行业热情，对业内消息敏感 对市场研究有一定了解；</p></li>
						<li><p>7、良好的英文文章阅读能力，能阅读专业论文。</p></li>
					</ul>
				</li>
			</ul>
			
			<!--PHP开发工程师-->
			<ul class="ourposition-main clearfix">
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition09.jpg" />
						<h3 class="ourposition-main-color09">PHP开发工程师</h3>
						<p class="ourposition-main-p1">PHP Development Engineer</p>
					</div>
					<h4>工作地点：<span>杭州</span></h4>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list clearfix">
						<li><p>1、本科学历（含）以上，二年以上中型或大型互联网产品软件的研发工作经验</p></li>
						<li><p>2、具有很强的业务需求分析能力</p></li>
						<li><p>3、熟悉PHP开发语言，了解各种主流框架（如PHP的主流框架）的使用及其原理</p></li>
						<li><p>4、具备优秀的数据库设计和优化能力,至少精通一种数据库应用</p></li>
						<li><p>5、熟悉Linux\Unix，能进行shell、Python编程</p></li>
						<li><p>6、有互联网产品的web开发经验者优先</p></li>
						<li><p>7、有强烈的上进心和求知欲,善于学习新事物,对技术充满激情</p></li>
						<li><p>8、务实、逻辑思维缜密、工作细致有耐心</p></li>
						<li><p>9、具有很强的分析问题和解决问题的能力,勇于面对挑战性问题</p></li>
						<li><p>10、具有良好的学习能力、时间和流程意识、沟通能力、团队合作、坦诚直接，有较好的沟通交流能力,能够迅速融入团队</p></li>
					</ul>
				</li>
				<li>
					<div class="ourposition-main-head clearfix">
						<img src="../../img/ourposition10.jpg" />
						<h3 class="ourposition-main-color10">web前端开发工程师</h3>
						<p class="ourposition-main-p1">Front-End Web Development Engineer</p>
					</div>
					<h4>工作地点：<span>杭州，西安，长沙</span></h4>
					<h4>工作职责：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、与设计师合作，根据设计师要求完成页面前端开发工作；</p></li>
						<li><p>2、与业务方沟通需求并制定技术方案；</p></li>
						<li><p>3、使用JavaScript编写或封装前端交互组件或功能开发；</p></li>
					</ul>
					<h4>任职要求：</h4>
					<ul class="ourposition-main-list">
						<li><p>1、2年以上前端开发经验。 </p></li>
						<li><p>2、熟练使用PhotoShop等图像处理软件，能手写HTML/CSS/JavaScript代码。</p></li> 
						<li><p>3、有开发兼容多浏览器（firefox/ie/Safari等）的Web应用的经验。 </p></li>
						<li><p>4、理解AJAX运作机制，有使用常见AJAX框架,如YUI、Jquery等的经验。 </p></li>
						<li><p>5、能熟练使用调试页面。 </p></li>
						<li><p>6、能和开发人员熟练沟通前后台交互和配合方案。</p></li>
						<li><p>7、熟悉一种后台开发语言。</p></li>
					</ul>
				</li>
			</ul>
			<div class="ourposition-main-bottom">
				<img src="../../img/ourposition_bottom.jpg" />
				<ul>
					<li><span>我们不缺钱，我们不缺空间，我们只缺你！把简历交出来，我们还能做朋友！</span></li>
					<li><span>投递简历时请附上您的设计作品</span></li>
					<li>杭州简历投递：<a href="##">hr@fullspeed.cn</a></li>
					<li>台州简历投递：<a href="##">jingjing.huang@fullspeed.cn</a></li>
					<li>西安简历投递：<a href="##">jie.zong@digi-media.cn</a></li>
					<li>长沙简历投递：<a href="##">ting.xiao@fullspeed.cn</a></li>
				</ul>
			</div>
		</div>
		<!------------底部--------------->
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
