<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于</title>
		<link rel="stylesheet" href="../../common/css/common.css" />
		<link rel="stylesheet" href="aboutus.css" />
	</head>
	<body class="aboutus-bg">
		<div id="top"></div>
		<div class="header"><!--头部分是固定定位，高49px-->
			<div class="header-nav clearfix">
				<a href="../../index.html"><img class="logo" src="../../img/header-logo.png" /></a>
				<div class="nav">
					<a href="../../index.html" class="underline-xx">首页</a><!--下划线，自己添加网页名-->
					<a href="../servic/servic.html" class="underline-xx">服务</a>
					<a href="../case/case.html" class="underline-xx">案例</a>
					<a href="aboutus.html" class="underline">我们</a>
					<a href="../trends/trends.html" class="underline-xx">动态</a>
					<a href="##" class="underline-xx">联系</a>
				</div>
				<a class="wechat" href="##">
					<img src="../../img/wechat.png" />
					<div class="qrcode"><img src="../../img/QRcode.png"/></div>
				</a>
				<a class="weibo" href="##"><img src="../../img/weibo.png" /></a>	
			</div>			
		</div>
		
		<div class="sidebar">
			<a href="##"><img src="../../img/qq-icon.png"/></a>
			<a href="##"><img src="../../img/alitalk-icon.png"/></a>
			<a href="##"><img src="../../img/consult-icon.png"/></a>
			<a class="sidebar-phone" href="##">
				<img src="../../img/phone-icon.png"/>
				<div class="number-icon"><img src="../../img/number-icon.png"/></div>
			</a>
			<a href="##"><img src="../../img/mail-icon.png"/></a>
			<a href="#"><img src="../../img/back-icon.png"/></a>
		</div>
		
		<div class="aboutus-flash">
		<embed src='http://player.youku.com/player.php/sid/XMTczMTI5OTU1Ng==/v.swf' allowFullScreen='true' quality='high' width='1280' height='740' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
		</div>
		<div class="aboutus-nav">
			<a href="aboutus.html" class="nav-list"><span class="nav-list-content">关于</span><i class="nav-list-line"></i></a> 
			<a href="../dream/dream.html" class="nav-list"><span>愿景</span><i class="nav-list-line"></i></a>
			<a href="../team/team.html" class="nav-list"><span>团队</span><i class="nav-list-line"></i></a>
			<a href="../creativecollege/creativecollege.html" class="nav-list"><span>创意学院</span><i class="nav-list-line"></i></a>
			<a href="../ourjoin/ourjoin.html" class="nav-list"><span>加入</span></a>
		</div>
		<div class="aboutus-introduce">
			<p class="aboutus-company">杭州全速网络技术有限公司（全速FULLSPEED）成立于2005年，是中国知名的用户体验设计服务提供商。</p>
			<p class="aboutus-company">全速FULLSPEED主要提供用户体验咨询、交互设计、互联网品牌设计、视觉设计、网络广告、前端开发、IT人力资源外包、电子商务平台建设等服务，在电子商务、互动娱乐、生活服务、金融、航空、物流、通讯、教育等行业具有深厚积累和丰富经验。在过去的10年里，全速网络成为阿里巴巴、天猫、淘宝、支付宝、蚂蚁金服、中粮我买网、蘑菇街、考拉海购、大众点评、招商银行、腾讯游戏、网易游戏、沪江网等国内领先互联网公司的长期合作伙伴，并在中国国航、绿城、浙商银行、好孩子等大型传统品牌的互联网化进程中发挥了重要的作用。</p>
			<p class="aboutus-company">全速FULLSPEED立足中国，服务全球，总部设在中国电商之都、创意创业之都-杭州，并在上海、西安、长沙、台州设立子公司，以“设计创造价值”为宗旨，为客户提供零障碍沟通的优质服务。</p>
			<p class="aboutus-company">全速管理团队均来自于国内外知名的互联网企业，吸取了先进的管理思想和服务意识。团队汇集了大量的专业人才并利用地理优势集合了中国美院、西安美院、浙江传媒学院、浙江大学、浙江工业大学等高校资源，拥有超过300名团队精英，其中70%为专业设计人才、20%为技术开发人才。</p>
		<p class="aboutus-company">在未来的10年，全速将致力于成为一家集用户体验设计、互联网/移动互联网视觉设计、数字营销、技术开发为一体的全流程用户体验设计集团，为客户创造更高的商业价值。</p>
		</div>
		
		<div class="bottom">
			<div class="bottom-guild clearfix">
				<div class="bottom-guild-address">
					<img src="../../img/address.png" />
					<div class="address-city">
						<a class="address-city-hangzhou" href="##">杭州 (总部)
							
						</a>
						<a class="address-city-xian" href="##">西安
							
						</a>
						<a class="address-city-changsha" href="##">长沙
							
						</a>
						<a class="address-city-taizhou" href="##">台州
							
						</a>
						<a class="address-city-taizhou" href="##">上海
							
						</a>
					</div>
					<div class="address-body">
						<p class="hangzhou-details" style="display: block;">杭州市拱墅区祥园路智慧信息产业园3号楼7楼</p>
						<p class="hangzhou-details">西安市高新区沣惠南路18号西格玛大厦401室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
						<p class="hangzhou-details">长沙市高新区麓谷大道627号新长海中心B3栋310室</p>
					</div>
				</div>
				<div class="bottom-guild-phone">
					<img src="../../img/phone-call.png" />
					<p class="phone-number">电话：0571-87381566<br/><br/>传真：0571-87381566-8014</p>
				</div>
				<div class="bottom-guild-consociation">
					<img src="../../img/consociation.png" />
					<p class="consociation-phone">合作电话：</p>
					<p class="consociation-number">0571-87381566-8031<br/><br/>0571-87381566-8028</p>
				</div>
			</div>
			<div class="bottom-note">杭州全速网络技术有限公司   ©版权所有   浙ICP备06007914号</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/css/common.js" ></script>
</html>
